<% @post.comments.each do |comment| %>
    <% if(comment.body.nil? == false) %>
         <p class="comment">
            <span class="timestamp">
                Posted <%= time_ago_in_words(comment.created_at) %> ago.
            </span><br>
            <%= comment.body %>
           <% @user = current_user
              if(user_signed_in? && @user.id == comment.user_id) %>
            <%= link_to 'Delete Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete, :remote => true %>
               <% end %>
         </p>
    <% end %>
<% end %>